@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'DMSans-Regular';
    src: url(/src/fonts/DMSans-Regular.ttf) format('truetype');
}
@font-face {
    font-family: 'DMSans-Bold';
    src: url(/src/fonts/DMSans-Bold.ttf) format('truetype');
}
@font-face {
    font-family: 'DMSans-Medium';
    src: url(/src/fonts/DMSans-Medium.ttf) format('truetype');
}

@layer base {
  html {
    font-family: 'DMSans-Regular', 'Arial', sans-serif;
  }
  body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    @apply bg-gradient-main;
  }
}

@layer components {
  .navbar-bg {
    background-color: rgba(127, 255, 212, 0.685);
  }
  
  .model-viewer-custom {
    width: 100%;
    height: 100%;
    background-color: #f5f5f5;
    --poster-color: transparent;
  }
}